[Unit]
Description=YikeManager Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=cafeyike
ExecStart=/home/cafeyike/CafeYike/start.sh
ExecStop=docker stop yike-manager
StandardOutput=file:/home/cafeyike/service.log
StandardError=inherit