<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <timestamp key="logStamp" datePattern="yyyy-MMM-dd-'T'kk-mm'.log'" />

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/${logStamp}</file>
        <encoder>
            <pattern>%d{HH:mm:ss} %-6level : %logger{0} : %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="FILE" />
    </root>

    <logger name="org.javacord" level="OFF" />
</configuration>