body {
    background-color: #202020;
}

.container {
    background-color: rgb(54, 61, 61);
    border-color: #ffd900;
    outline-offset: 10px;
    padding: 10px;
    color: #e8e5e5;
    border-radius: 10px;
    border-width: 10px;
}

.logoContainer {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50px;
}

.logoContainer img {
    width: 100%;
    min-height: 100%;
}